.dashboard {
  display: grid;
  grid-template-columns: 20% 1fr;
  background: url("../../assets/img/dan-asaki-0uLVXFz6obg-unsplash@2x.png");
  background-size: cover;
  .side-nav {
    height: 100vh;
    background-image: radial-gradient(#003b14d9, #023614);
    padding: 30px;
    .logo {
      margin: 0 0 30px 0;
    }
    ul {
      li {
        margin: 10px 0;
        a {
          color: var(--primary-text);
          text-decoration: none;
          padding: 10%;
          display: block;
          font-family: Helvatica-light;
          position: relative;
          i {
            font-size: 1.3rem;
            padding: 0 8px 0 0;
          }
          &:hover {
            background: #ffffff2e;
            border-radius: 10px;
            // &::after {
            //   content: "&#xf0da";
            //   position: absolute;
            // }
          }
        }
      }
    }
  }
  .main {
    background: #fff;
    padding: 30px;
  }
}
