/*https://xd.adobe.com/view/9743f916-ba8e-4e17-87b5-e3975c8a545b-c210/*/
:root {
  --primary: #003b14d9;
  --primary-text: #fff;
  --secondary-text: #b2b2b2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Helvatica";
  src: url("./assets/fonts/HelveticaNeue-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Helvatica-light";
  src: url("./assets/fonts/helvetica_light.ttf") format("truetype");
}
body {
  font-family: Helvatica, Sans-Serif;
  color: var(--primary-text);
  font-size: 1rem;
  color: #000;
}
.btn {
  background: transparent;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
ul,
li {
  list-style: none;
}
.btn-primary {
  background: var(--primary);
}
.btn-outline {
  border: 1px solid;
}
.btn-lg {
  padding: 1rem 2rem;
}
.secondary-text {
  color: var(--secondary-text);
}
